{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}
    <link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

assets
{% block contents %}
                        <div class="checkout-tabs">
                                <div class="row">
                                    <div class="col-xl-2 col-sm-3 mb-3">
                                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                            <a class="nav-link active" id="v-pills-shipping-tab" data-bs-toggle="pill" href="#v-pills-shipping" role="tab" aria-controls="v-pills-shipping" aria-selected="true">
                                                <i class= "bx bxs-truck d-block check-nav-icon mt-4 mb-2"></i>
                                                <p class="fw-bold mb-4">Customer Info</p>
                                            </a>
                                            <a class="nav-link" id="v-pills-confir-tab" data-bs-toggle="pill" href="#v-pills-confir" role="tab" aria-controls="v-pills-confir" aria-selected="false">
                                                <i class= "bx bx-badge-check d-block check-nav-icon mt-4 mb-2"></i>
                                                <p class="fw-bold mb-4">Confirmation</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-10 col-sm-9">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="tab-content" id="v-pills-tabContent">
                                                    <div class="tab-pane fade show active" id="v-pills-shipping" role="tabpanel" aria-labelledby="v-pills-shipping-tab">
                                                        <div>
                                                            <h4 class="card-title">Customer information</h4>
                                                            <p class="card-title-desc">Fill all information below</p>
                                                            {% csrf_token %}
                                                            <form method="post" id="billing-form" action="{% url 'car-checkout' %}" >
                                                                {% csrf_token %}
                                                                <div class="form-group row mb-4">
                                                                    <label for="billing-name" class="col-md-2 col-form-label">Name</label>
                                                                    <div class="col-md-10">
                                                                        <input type="text" class="form-control" name="billing-name" placeholder="Enter your name">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row mb-4">
                                                                    <label for="billing-email-address" class="col-md-2 col-form-label">Email Address</label>
                                                                    <div class="col-md-10">
                                                                        <input type="email" class="form-control" name="billing-email-address" placeholder="Enter your email">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row mb-4">
                                                                    <label for="billing-phone" class="col-md-2 col-form-label">Phone</label>
                                                                    <div class="col-md-10">
                                                                        <input type="text" class="form-control" name="billing-phone" placeholder="Enter your Phone no.">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row mb-4">
                                                                    <label for="billing-address" class="col-md-2 col-form-label">Address</label>
                                                                    <div class="col-md-10">
                                                                        <textarea class="form-control" name="billing-address" rows="3" placeholder="Enter full address"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row mb-4">
                                                                    <label class="col-md-2 col-form-label">City / Province</label>
                                                                    <div class="col-md-10">
                                                                        <select class="form-control select2" name="city" id="city" title="Country">
                                                                            <option value="" selected>Chọn tỉnh thành</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row mb-4">
                                                                    <label class="col-md-2 col-form-label">District</label>
                                                                    <div class="col-md-10">
                                                                        <select class="form-control select2" name="district" id="district" title="Country">
                                                                            <option value="" selected>Chọn quận huyện</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row mb-4">
                                                                    <label class="col-md-2 col-form-label">Ward</label>
                                                                    <div class="col-md-10">
                                                                        <select class="form-control select2" name="ward" id="ward" title="Country">
                                                                            <option value="" selected>Chọn phường xã</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row mb-0">
                                                                    <label for="example-textarea" class="col-md-2 col-form-label">Order Notes:</label>
                                                                    <div class="col-md-10">
                                                                        <textarea class="form-control" name="example-textarea" rows="3" placeholder="Write some note.."></textarea>
                                                                    </div>
                                                                </div>
                                                                
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="v-pills-confir" role="tabpanel" aria-labelledby="v-pills-confir-tab">
                                                        <div class="card shadow-none border mb-0">
                                                            <div class="card-body">
                                                                <h4 class="card-title mb-4">Order Summary</h4>
    
                                                                <div class="table-responsive">
                                                                    <table class="table align-middle mb-0 table-nowrap">
                                                                        <thead class="table-light">
                                                                        <tr>
                                                                            <th scope="col">Product</th>
                                                                            <th scope="col">Product Desc</th>
                                                                            <th scope="col">Price</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        {% csrf_token %}
                                                                        {% for item in cart_item %}
                                                                        <tr>
                                                                            <th scope="row"><img src="{{ item.product.image.url }}" alt="product-img" title="product-img" class="avatar-md"></th>
                                                                            <td>
                                                                                <h5 class="font-size-14 text-truncate"><a href="" class="text-dark">{{ item.product.title }} </a></h5>
                                                                                <p class="text-muted mb-0">{{ item.product.price }} x {{ item.quantity }} VND</p>
                                                                            </td>
                                                                            <td>{{ item.get_price }} VND</td>
                                                                        </tr>
                                                                        {% endfor %}
                                                                            <tr>
                                                                            <td colspan="2">
                                                                                <h6 class="m-0 text-end">Sub Total:</h6>
                                                                            </td>
                                                                            <td>
                                                                                {{ subtotal }} VND
                                                                            </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="3">
                                                                                    <div class="bg-primary bg-soft p-3 rounded">
                                                                                        <h5 class="font-size-14 text-primary mb-0"><i class="fas fa-shipping-fast me-2"></i> Shipping <span class="float-end">Free</span></h5>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
{#                                                                            <tr>#}
{#                                                                                <td colspan="2">#}
{#                                                                                    <h6 class="m-0 text-end">Tax:</h6>#}
{#                                                                                </td>#}
{#                                                                                <td>#}
{#                                                                                    $ {{ tax }}#}
{#                                                                                </td>#}
{#                                                                            </tr>#}
                                                                            <tr>
                                                                                <td colspan="2">
                                                                                    <h6 class="m-0 text-end">Total:</h6>
                                                                                </td>
                                                                                <td>
                                                                                    {{ total }}  VND
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-sm-6">
                                                <a href="{% url "car-cart" %}" class="btn text-muted d-none d-sm-inline-block btn-link">
                                                    <i class="mdi mdi-arrow-left me-1"></i> Back to Shopping Cart </a>
                                            </div> <!-- end col -->
                                            <div class="col-sm-6">
                                                <div class="text-end">
                                                    {% csrf_token %}
                                                  <button type="submit" form="billing-form" class="btn btn-success">
                                                    <i class="mdi mdi-truck-fast me-1"></i> Proceed to Shipping
                                                  </button>
                                                </div>
                                            </div> <!-- end col -->
                                        </div> <!-- end row -->
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->

{% endblock %}


{% block extra_javascript %}
    <script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>

    <!-- init js -->
    <script src="{% static 'js/pages/ecommerce-select2.init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

    <script>
        var citis = document.getElementById("city");
        var districts = document.getElementById("district");
        var wards = document.getElementById("ward");
        var Parameter = {
          url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
          method: "GET",
          responseType: "application/json",
        };
        var promise = axios(Parameter);
        promise.then(function (result) {
          renderCity(result.data);
        });

        function renderCity(data) {
          for (const x of data) {
            citis.options[citis.options.length] = new Option(x.Name, x.Name);
          }
          citis.onchange = function () {
            district.length = 1;
            ward.length = 1;
            if(this.value != ""){
              const result = data.filter(n => n.Name === this.value);
              for (const k of result[0].Districts) {
                console.log(k);
                district.options[district.options.length] = new Option(k.Name, k.Name);
              }
            }
          };
          district.onchange = function () {
            ward.length = 1;
            const dataCity = data.filter((n) => n.Name === citis.value);
            if (this.value != "") {
              const dataWards = dataCity[0].Districts.filter(n => n.Name === this.value)[0].Wards;

              for (const w of dataWards) {
                ward.options[ward.options.length] = new Option(w.Name, w.Name);
                }
            }
            };
        }

	</script>
{% endblock %}